# Игнорировать файлы VSC
*launch.json
*.vscode

# Игнорировать файлы Mac OS X
.DS_Store

# Игнорировать файлы повторения проигрывания playbook
*main.retry

# Игнорировать файлы логов
*ansible.log

# Игнорировать публичные ключи в папке
ssh_pubkeys/**

# Игнорировать файл инвентори
hosts