# Ansible config proxy for shell process

HTTP_PROXY={{ proxy_url }}
HTTPS_PROXY={{ proxy_url }}
http_proxy={{ proxy_url }}
https_proxy={{ proxy_url }}
export HTTP_PROXY HTTPS_PROXY http_proxy https_proxy
